.btn, a.btn {
    
    min-height: 51px;
    display: flex;
    justify-content: center;
    line-height: 51px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #01996D;
    color: #fff;
    font-size: 20px;
    font-weight: 400px;
    border-radius: 4px;
    transition: opacity 0.2s ease;
}

.btn:hover, a.btn:hover{
    opacity: 0.8;
    color: #fff;
}

.btn-big, a.btn-big {
    justify-content: center;
    min-height: 65px;
    align-items: center;
}

@media (max-width: 991px ){
    .btn , a.btn{
        min-height: 41px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .btn-big, a.btn-big {
        min-height: 55px;
    }
}